node_modules
.next
out
build
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.git
.gitignore
.github
README.md
LICENSE
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.agents
CVS
.svn
.hg
.lock-wscript
.DS_Store
Thumbs.db
